# Python data types

Python data types can be dived in two groups, single and multiple. The single data types are integer(int), float(float), text(str). 
This first two refer to numbers being float with decimal, while text refer to any caracter that can be typed in the key boar, special character or numbers.


`example_one = "Hello World"` We know it is **stringe** type because the text is in quotes.

`example_twp = 10` there is no coma/ dot, so it is **integer**.

`example_three = 9.99` Since there are decimal numbers, it has to be **float**

The second group are lists, dictionary, set, tuples and range. These python data types can store more than one item, however they differ from one another, list can have repeted items and **multable**, concept that will be explored as sooner. On the other hand, tuples are **imutable** and cannot repeat any value. 

`example_four = [1,3,5,7,9]`

`example_five = ("snowboard", "skis")`

`example_six = {
    "snowboard": 4,
    "skis": 7
}`

# The type function & type convertion

The type function will return the data type of the object passed to it.
`type()`

The type convertion will convert a given varible into a different data type if the given varaible attend some certains demands.

`age = "18"`, `int(age)` the result will be `18`, but this time without quotation.

In [10]:
type(10)

int

In [12]:
type(3.14)

float

In [14]:
type("skis")

str

In [18]:
type([3.14,"skis", None])

list

In [22]:
data_type = type([3.14,"skis", None])

data_type

list

In [24]:
int("123")

123

In [26]:
float('123')

123.0

In [32]:
int([1,2,3]) # the error accurs because the convertion must happen amoung dataP_types similar to one another.

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [34]:
tuple([1,2,3]) # A list can be converted into Tuple

(1, 2, 3)

# Iterables

Iterables are data types that can be iterated or looped through, allowing you to move from one value to the next.

These data types are considered iterables:
- Sequence
- Mapping
- Set
- Text

# Mutability

A mutable data type can be modified after its creation:
- Lists
- Dictionary
- Sets

On the other hand all the simple data type are immutable along with **sets** and **tuples**.