In [2]:
import pandas as pd
import numpy as np

## Exploring data frame

In [ ]:
df = pd.read_excel('../Run Times.xlsx')
df

In [ ]:
df.dtypes
df.info()

In [ ]:
df.head()

In [ ]:
df.Fee = pd.to_numeric(df.Fee.str.replace('$',''))

In [ ]:
#pd.to_numeric(df['Warm Up Time'], errors='coerce')
df['Warm Up Time'] = pd.to_numeric(df['Warm Up Time'].astype('str').str.replace('min',''))

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.Rain = df.Rain.astype('int')

## Missing Data

In [37]:
df = pd.read_excel('../Student Grades.xlsx')
df.tail()

    Student Class    Year  Grade
81      NaN   NaN     NaN    NaN
82  Bennett   NaN     NaN    NaN
83      NaN   EDA  Junior   84.0
84    Gavin   EDA  Senior    NaN
85   Calvin   NaN     NaN  100.0

In [ ]:
np.NaN
pd.NA

In [ ]:
df.info()

In [ ]:
df.Year.value_counts(dropna=False)

In [ ]:
df.isna()
df.isna().sum()
df.isna().any(axis=1)
df[df.isna().any(axis=1)]

# Handling Missing Data

In [ ]:
df.dropna()
df.dropna(how='all')
df.dropna(thresh=2)
df.dropna(subset=['City'])

In [ ]:
df[df['City'].notna()]

In [45]:
df[df.isna().any(axis=1)].dropna()
df[df.isna().any(axis=1)].dropna(subset=['Student','Class'])
df = df.dropna(subset=['Student','Class'], inplace=True)
df

In [47]:
df.shape

AttributeError: 'NoneType' object has no attribute 'shape'