In [39]:
import pandas as pd
import numpy as np

pd.set_option('display.expand_frame_repr', False)

## Exploring data frame

In [63]:
# Open the xlxs file by travelling to its directory
df = pd.read_excel('../../../Python/Data_Science/Data/Run Times.xlsx')
print(df)

     Name  Run Time Warm Up Time   Location            Run Date  Race Date   Rain    Fee
0  Alexis    9.2343          3.5   “school” 2023-04-15 12:00:00 2023-06-01  False  $0.00
1  Alexis   10.3842          3.5     School 2023-04-22 12:30:00 2023-06-01   True  $0.00
2  Alexis    8.1209        3 min  “the gym” 2023-05-10 15:00:00 2023-06-01  False  $2.50
3   David    7.2123          2.2   “school” 2023-05-01 15:15:00 2023-06-15  False  $0.00
4   David    6.8342            2      “gym” 2023-05-10 16:30:00 2023-06-15  False  $2.50

In [65]:
# To check the types of the columns, dtypes or info() are usefull. It is always a good practice to check before proceeding the analysis
print('The data types for this df are:')
print(df.dtypes,'\n')

print('-----------------------------------','\n')
print('The data infor for this df are:')
print(df.info())

The data types for this df are:
Name                    object
Run Time               float64
Warm Up Time            object
Location                object
Run Date        datetime64[ns]
Race Date       datetime64[ns]
Rain                      bool
Fee                     object
dtype: object

-----------------------------------

The data infor for this df are:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          5 non-null      object
 1   Run Time      5 non-null      float64
 2   Warm Up Time  5 non-null      object
 3   Location      5 non-null      object
 4   Run Date      5 non-null      datetime64[ns]
 5   Race Date     5 non-null      datetime64[ns]
 6   Rain          5 non-null      bool
 7   Fee           5 non-null      object
dtypes: bool(1), datetime64[ns](2), float64(1), object(4)
memory usage: 417.0+ bytes
None

In [67]:
# head() allow us to see the first 5 rows of the data
df.head()
print(df.head())

     Name  Run Time Warm Up Time   Location            Run Date  Race Date   Rain    Fee
0  Alexis    9.2343          3.5   “school” 2023-04-15 12:00:00 2023-06-01  False  $0.00
1  Alexis   10.3842          3.5     School 2023-04-22 12:30:00 2023-06-01   True  $0.00
2  Alexis    8.1209        3 min  “the gym” 2023-05-10 15:00:00 2023-06-01  False  $2.50
3   David    7.2123          2.2   “school” 2023-05-01 15:15:00 2023-06-15  False  $0.00
4   David    6.8342            2      “gym” 2023-05-10 16:30:00 2023-06-15  False  $2.50

In [69]:
# This code is removing the $ from the fields and transforming it into a float column
df.Fee = pd.to_numeric(df.Fee.str.replace('$',''))
# Checking it
print(df)

     Name  Run Time Warm Up Time   Location            Run Date  Race Date   Rain  Fee
0  Alexis    9.2343          3.5   “school” 2023-04-15 12:00:00 2023-06-01  False  0.0
1  Alexis   10.3842          3.5     School 2023-04-22 12:30:00 2023-06-01   True  0.0
2  Alexis    8.1209        3 min  “the gym” 2023-05-10 15:00:00 2023-06-01  False  2.5
3   David    7.2123          2.2   “school” 2023-05-01 15:15:00 2023-06-15  False  0.0
4   David    6.8342            2      “gym” 2023-05-10 16:30:00 2023-06-15  False  2.5

In [71]:
# Checking converstion of the Fee colum from str to numeric float

#df.Fee.info()
#df['Fee'].info()
'''
It is possible to visualize columns from a DataFrame 
using .ColumnName or [ColumnName] after the DataFrame Name

'''

print(df.Fee.info())

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: Fee
Non-Null Count  Dtype
--------------  -----
5 non-null      float64
dtypes: float64(1)
memory usage: 172.0 bytes
None

In [79]:
print(df,'\n')

print('Looking into Warm Up Time column')
print(df['Warm Up Time'])

     Name  Run Time Warm Up Time   Location            Run Date  Race Date   Rain  Fee
0  Alexis    9.2343          3.5   “school” 2023-04-15 12:00:00 2023-06-01  False  0.0
1  Alexis   10.3842          3.5     School 2023-04-22 12:30:00 2023-06-01   True  0.0
2  Alexis    8.1209        3 min  “the gym” 2023-05-10 15:00:00 2023-06-01  False  2.5
3   David    7.2123          2.2   “school” 2023-05-01 15:15:00 2023-06-15  False  0.0
4   David    6.8342            2      “gym” 2023-05-10 16:30:00 2023-06-15  False  2.5

Looking into Warm Up Time column
0      3.5
1      3.5
2    3 min
3      2.2
4        2
Name: Warm Up Time, dtype: object

In [105]:
#pd.to_numeric(df['Warm Up Time'], errors='coerce')
#This code is first converting the column into str to remove 'min' and then converting the remain info into float
df['Warm Up Time'] = pd.to_numeric(df['Warm Up Time'].astype('str').str.replace('min',''))

# Checking
print('Checking Warm Up time convertion into float','\n')
print(df)

Checking Warm Up time convertion into float

     Name  Run Time  Warm Up Time   Location            Run Date  Race Date   Rain  Fee
0  Alexis    9.2343           3.5   “school” 2023-04-15 12:00:00 2023-06-01  False  0.0
1  Alexis   10.3842           3.5     School 2023-04-22 12:30:00 2023-06-01   True  0.0
2  Alexis    8.1209           3.0  “the gym” 2023-05-10 15:00:00 2023-06-01  False  2.5
3   David    7.2123           2.2   “school” 2023-05-01 15:15:00 2023-06-15  False  0.0
4   David    6.8342           2.0      “gym” 2023-05-10 16:30:00 2023-06-15  False  2.5

In [107]:
# This code is converting the Rain column from boolean into integer
df.Rain = df.Rain.astype('int')
print('Checking Rain convertion into Integer', '\n')
print(df)

Checking Rain convertion into Integer

     Name  Run Time  Warm Up Time   Location            Run Date  Race Date  Rain  Fee
0  Alexis    9.2343           3.5   “school” 2023-04-15 12:00:00 2023-06-01     0  0.0
1  Alexis   10.3842           3.5     School 2023-04-22 12:30:00 2023-06-01     1  0.0
2  Alexis    8.1209           3.0  “the gym” 2023-05-10 15:00:00 2023-06-01     0  2.5
3   David    7.2123           2.2   “school” 2023-05-01 15:15:00 2023-06-15     0  0.0
4   David    6.8342           2.0      “gym” 2023-05-10 16:30:00 2023-06-15     0  2.5

### Missing Data

In [115]:
# Numpy and Pandas representation of non values. It is common seeing NaN from Numpy displayed.
np.NaN
pd.NA

### Identifying Missing Data

The easiest way to identify missing data is with the **.isna()** method. It is posible to use **info()** or **.value_counts(dropna=False)**

`df.isna()`

`df.isna().sum()`

`df[df.isna().any(axis=1)]`

### Missing Data Demo

In [250]:
# Open the xlxs file by travelling to its directory
df = pd.read_excel('../../../Python/Data_Science/Data/Student Grades.xlsx')
print(df.tail())

    Student Class    Year  Grade
81      NaN   NaN     NaN    NaN
82  Bennett   NaN     NaN    NaN
83      NaN   EDA  Junior   84.0
84    Gavin   EDA  Senior    NaN
85   Calvin   NaN     NaN  100.0

In [244]:
print('Do not undestood this one very well')
print(df.value_counts())

Do not undestood this one very well
Student  Class            Year       Grade
Isaac    Intro to SQL     Sophomore  96.0     3
Aaron    EDA              Junior     85.0     1
Joseph   Intro to Python  Freshman   93.0     1
Luke     Intro to SQL     Sophomore  76.0     1
Lucas    Intro to Python  Freshman   77.0     1
                                             ..
Eli      EDA              Junior     92.0     1
Dylan    Intro to Python  Freshman   84.0     1
David    Intro to Python  Freshman   74.0     1
Daniel   Intro to Python  Freshman   85.0     1
Zoey     EDA              Junior     91.0     1
Name: count, Length: 75, dtype: int64

In [240]:
print('Checking how many times the items are repetead in a column')
print(df.Year.value_counts())

Checking how many times the items are repetead in a column
Year
Freshman     35
Sophomore    24
Junior       20
Senior        1
Name: count, dtype: int64

In [248]:
print('Ckecking including also NaN values')
df.Year.value_counts(dropna=False)

Ckecking including also NaN values

Year
Freshman     35
Sophomore    24
Junior       20
NaN           6
Senior        1
Name: count, dtype: int64

In [256]:
print('Checking .isna() method')
print(df.isna()) # It returns boolean

Checking .isna() method
    Student  Class   Year  Grade
0     False  False  False  False
1     False  False  False  False
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False
..      ...    ...    ...    ...
81     True   True   True   True
82    False   True   True   True
83     True  False  False  False
84    False  False  False   True
85    False   True   True  False

[86 rows x 4 columns]

In [260]:
print('Checking .isna() with .sum()')
print(df.isna().sum()) # This sum up all the True values

Checking .isna() with .sum()
Student    2
Class      3
Year       6
Grade      4
dtype: int64

In [262]:
print('Checking .any() Method')
print(df.isna().any(axis=1)) # This line is not clear to me

0     False
1     False
2     False
3     False
4     False
      ...
81     True
82     True
83     True
84     True
85     True
Length: 86, dtype: bool

In [268]:
print('Checking .any() method for the entire df')
print(df[df.isna().any(axis=1)]) #here it return all rows with one NaN value.

Checking .any() method for the entire df
    Student                      Class    Year  Grade
7     Jacob           Freshman Seminar     NaN   88.0
8   William           Freshman Seminar     NaN   89.0
9     Ethan           Freshman Seminar     NaN   86.0
62   Landon  Exploratory Data Analysis  Junior    NaN
81      NaN                        NaN     NaN    NaN
82  Bennett                        NaN     NaN    NaN
83      NaN                        EDA  Junior   84.0
84    Gavin                        EDA  Senior    NaN
85   Calvin                        NaN     NaN  100.0

### Handling Missing Data

There are multiple ways to **handle missing data**:
- Keep the missing data as is
- remove an entire row or column
- Input missing numerical data with 0 or average, mode, etc.
- Resolve the missing data based on domain expertise

### Keep Missing data

It is still possible to perform calculation in columns with `NaN`.

### Imputing Missing Data

The **.fillna()** method imputes missing data with an appropriate value.

`df['Income'] = df['Income'].fillna(df['Income'].median())`

### Pro Tip: Keeping Non-Missing Data

There is **.notna()** that keeps non-missing data insted

In [302]:
print('Ckecking .notna() on Year column')
print(df[df['Year'].notna()]) # it is possible to checke its effectiveness by the index numbers

Ckecking .notna() on Year column
    Student             Class      Year  Grade
0      Emma  Freshman Seminar  Freshman   86.0
1    Olivia  Freshman Seminar  Freshman   86.0
2      Noah  Freshman Seminar  Freshman   86.0
3    Sophia  Freshman Seminar  Freshman   87.0
4      Liam  Freshman Seminar  Freshman   90.0
..      ...               ...       ...    ...
78  Charles               EDA    Junior   93.0
79   Connor               EDA    Junior   91.0
80    Riley               EDA    Junior   87.0
83      NaN               EDA    Junior   84.0
84    Gavin               EDA    Senior    NaN

[80 rows x 4 columns]

### Removing Missing Data

In [270]:
print('Checking rows with NaN','\n')
print(df.tail())

Checking rows with NaN

    Student Class    Year  Grade
81      NaN   NaN     NaN    NaN
82  Bennett   NaN     NaN    NaN
83      NaN   EDA  Junior   84.0
84    Gavin   EDA  Senior    NaN
85   Calvin   NaN     NaN  100.0

In [278]:
print('Checking .dropna() removing any row with NaN value')
print(df.dropna().tail(), '\n') # Removing any rows with NaN values

Checking .dropna() removing any row with NaN value
    Student Class    Year  Grade
76     Zoey   EDA  Junior   91.0
77    Aaron   EDA  Junior   85.0
78  Charles   EDA  Junior   93.0
79   Connor   EDA  Junior   91.0
80    Riley   EDA  Junior   87.0

In [280]:
print('Checking .dropna() with thresh')
print(df.dropna(thresh=2).tail(), '\n') # thresh = n, if the row more than n NaN, remove the row

Checking .dropna() with thresh
   Student Class    Year  Grade
79  Connor   EDA  Junior   91.0
80   Riley   EDA  Junior   87.0
83     NaN   EDA  Junior   84.0
84   Gavin   EDA  Senior    NaN
85  Calvin   NaN     NaN  100.0

In [282]:
print('Checking .dropna() allong with subset')
print(df.dropna(subset=['Year']).head()) # Subset allow us to choose the column

Checking .dropna() allong with subset
  Student             Class      Year  Grade
0    Emma  Freshman Seminar  Freshman   86.0
1  Olivia  Freshman Seminar  Freshman   86.0
2    Noah  Freshman Seminar  Freshman   86.0
3  Sophia  Freshman Seminar  Freshman   87.0
4    Liam  Freshman Seminar  Freshman   90.0

In [294]:
print('Checking this chain of methods removing NaN from selected columns')
print(df[df.isna().any(axis=1)].dropna(subset=['Student', 'Class']))

Checking this chain of methods removing NaN from selected columns
    Student                      Class    Year  Grade
7     Jacob           Freshman Seminar     NaN   88.0
8   William           Freshman Seminar     NaN   89.0
9     Ethan           Freshman Seminar     NaN   86.0
62   Landon  Exploratory Data Analysis  Junior    NaN
84    Gavin                        EDA  Senior    NaN

In [298]:
# df = dropna(subset=['Student', 'Class'])) not doing it now. Assing the udpates to the df
# df.dropna(subset=['Student', 'Class'], inplace=True) Inplace assing the updates to my df. Not doing it.

    Student             Class      Year  Grade
0      Emma  Freshman Seminar  Freshman   86.0
1    Olivia  Freshman Seminar  Freshman   86.0
2      Noah  Freshman Seminar  Freshman   86.0
3    Sophia  Freshman Seminar  Freshman   87.0
4      Liam  Freshman Seminar  Freshman   90.0
..      ...               ...       ...    ...
77    Aaron               EDA    Junior   85.0
78  Charles               EDA    Junior   93.0
79   Connor               EDA    Junior   91.0
80    Riley               EDA    Junior   87.0
84    Gavin               EDA    Senior    NaN

[82 rows x 4 columns]